<div class="jumbotron">
  <h1 class="display-3">Вроде как справка</h1>

  <p class="lead">В смысле - о чем это все вообще.</p>
    
  <p class="lead"> Здесь можно зарегистрироваться </p>
  <!---
  <p class="lead"> Можно даже на левую почту </p>
  -->
  <p class="lead"> Можно выкладывать как бы фотки (без самих фоток) </p>
  <p class="lead"> Короче, я стараюсь </p>
  <!---
  <p class="lead"> Как бы - потому что сами фотки выкладывать пока нельзя </p>
  <p class="lead"> Только описания </p>
  <br>
  
-->


  <hr class="my-4">
  
  <%= link_to "На главную", root_path , class:"btn btn-primary" %>



  
</div>



