<div class="jumbotron">
  <h1 class="display-3">Вроде как справка</h1>

  <p class="lead">В смысле - о чем это все вообще.</p>
  <p class="lead"> Пока что особо ни о чем, но я стараюсь</p>
  <hr class="my-4">
  
  <%= link_to "На главную", root_path , class:"btn btn-primary" %>


<!--
  <div class="btn btn-primary">
   <%= link_to "Instaphoto", root_path , :class => "btn btn-primary" %> |
  </div>

  <div class="btn btn-primary">
   <%= link_to "About", pages_about_path , :class => "btn btn-primary"%>
  </div>
  --!>
  
</div>



<!-- Старая кнопка на главную
<a class="btn btn-primary " href="http://localhost:3000" role="button">На главную</a>--!>

<!-- <h1>Вроде как справка</h1>
<p class = "r-text">В смысле - о чем это все вообще.</p>
<p>Пока что особо ни о чем, но я стараюсь</p> --!>