<div class="jumbotron">
  <h1 class="display-3">Вроде как справка</h1>

  <p class="lead">В смысле - о чем это все вообще.</p>
  <p class="lead"> Пока что особо ни о чем, но я стараюсь</p>
  <hr class="my-4">
  
  <a class="btn btn-primary " href="http://localhost:3000" role="button">На главную</a>
  
  
</div>





<!-- <h1>Вроде как справка</h1>
<p class = "r-text">В смысле - о чем это все вообще.</p>
<p>Пока что особо ни о чем, но я стараюсь</p> --!>