<div class="jumbotron">
  <h1 class="display-3">Вроде как справка</h1>

  <p class="lead">В смысле - о чем это все вообще.</p>
  <p class="lead"> Пока что особо ни о чем, но я стараюсь</p>
  <hr class="my-4">
  
  <%= link_to "На главную", root_path , class:"btn btn-primary" %>



  
</div>



