<div class="card photo-card">
  <div class="card-header">
    <h3><%= t('photos.new_header') %></h3>
  </div>
  <div class="card-body">



	<%= render 'form', photo: @photo %>

	<%= link_to t('photos.main'), photos_path %>

</div>
</div>